.cv-container {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0 auto;
  padding: 20px;
  max-width: 800px;
  height: 21cm;
   transform-origin: top left;
   font-family: 'Roboto', sans-serif; /* General font style */
}

.header {
  text-align: center;
  font-family: 'Playfair Display', serif; /* Stylish font for header */
}

.header h1 {
  font-size: 10px;
  margin: 0;
}

.header p {
  margin: 10px 0;
}

.header a {
  color: #007BFF;
  text-decoration: none;
}

.header a:hover {
  text-decoration: underline;
}

h2 {
  border-bottom: 2px solid #007BFF;
  padding-bottom: 5px;
  margin-bottom: 10px;
  font-size: 8px;
  font-family: 'Playfair Display', serif; /* Stylish font for section headers */
}

.entry {
  margin-bottom: 20px;
}

.entry-date {
  font-weight: bold;
  font-family: 'Roboto', sans-serif; /* Consistent font for dates */
}

.entry-details {
  margin-top: 5px;
  font-family: 'Roboto', sans-serif; /* Consistent font for details */
}

ul {
  margin: 0;
  padding-left: 20px;
  font-family: 'Roboto', sans-serif; /* Consistent font for lists */
}

li {
  margin-bottom: 5px;
}

.footer {
  text-align: center;
  margin-top: 20px;
  font-family: 'Roboto', sans-serif; /* Consistent font for footer */
}

.experience h2{
  font-size: 17px;
}

.education h2{
  font-size: 17px;
}

.skills h2{
  font-size: 17px;
}

.certifications h2{
  font-size: 17px;
}

.languages h2{
  font-size: 17px;
}

.contact-info{
  font-size: 17px;
}